<h1><%= @list.name %></h1>

<% @list.movies.each do |movie| %> 
    <% movie.bookmarks.each do |bookmark|%>
     
      <h3><%= movie.title %></h3>
      <p>
        <%= bookmark.comment.capitalize %> - <%= link_to "Delete", list_bookmark_path(@list, bookmark),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </p>
    <% end %>
<% end %>

<div class="btn btn-dark"><%= link_to "HOME", lists_path %></div>
<div class="btn btn-dark"><%= link_to "Create Bookmark", new_list_bookmark_path(@list) %></div>